* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #2F243A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    color: #BEBBBB;
    gap: 30px;
}

.hidden {
    display: none;
}

.messageContainer {
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.reset {
    margin-bottom: 30px;
}

.reset, .newGame {
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    background-color: #444054;
    color: white;
}

.reset:hover, .newGame:hover {
    background-color: rgb(29, 18, 39);
    border: 1px solid white;
    color: white;
}

.reset:active, .newGame:active {
    background-color: white;
    color: rgb(67, 47, 104);
}

.game {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 80vmin;
    width: 80vmin;
}

.game button:active {
    background-color: #2F243A;
    color: #BEBBBB;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    cursor: pointer;
    color: #444054;
    font-weight: 500;
    border: none;
    font-size: 7rem;
    background-color: #BEBBBB;
    border-radius: 10px;
    height: 30%;
    width: 30%;
}

@media (min-width: 430px) {
    html {
        font-size: 1.5rem;
    }
}

@media (min-width: 650px) {
   .game {
    height: 70vmin;
    width: 70vmin;
   }
}


/* 
html {
    font-size: 0.7rem;
}

body {
    background-color: #2F243A;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    color: #BEBBBB;
    font-size: 1.5rem;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.hidden {
    display: none;
}

.messageContainer{
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.messageContainer .winner{
    text-align: center;
    font-weight: 800;
    font-size: 3rem;
}

.game {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 50px;
    border: 2px solid green;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    cursor: pointer;
    color: #444054;
    font-weight: 500;
    font-size: 7rem;
    background-color: #BEBBBB;
    border-radius: 10px;
}

button {
    padding: 15px 40px;
    border-radius: 10px;
    border: none;
    font-size: 1.2rem;
    background-color: #444054;
    color: white;
}

.reset:hover, .newGame:hover {
    background-color: black;
    color: white;
}

.reset:active, .newGame:active {
    background-color: white;
    color: black;
}

@media (max-width:815px) {
    .game {
        height: 50vh;
        width: 50vh;
    }
}

@media (max-width:675px) {
    .game {
        height: 40vh;
        width: 40vh;
    }
}

@media (max-width:565px) {
    html {
        font-size: 0.8rem;
    }
    .game {
        height: 30vh;
        width: 30vh;
    }
} */