@font-face {
    font-family: fax;
    src: url(./JTUSjIg1_i6t8kCHKm459Wlhyw.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    color: white;
    font-family: fax;
    height: 100%;
    width: 100%;
}

.vidContainer{
    z-index: -99;
    position: fixed;
    height: 100vh;
    width: 100%;
}

.vidContainer video {
    z-index: -99;
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.vidCover {
    z-index: -1;
    top: 0;
    left: 0;
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.645);
}

.nav {
    position: fixed;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 7rem;
    gap: 3rem;
    z-index: 100;
    height: 18vh;
    width: 100%;
}

#navLogo {
    height: 70px;
}

.nav h3 {
    font-size: 1.1rem;
    font-weight: 550;
}

.hero {
    z-index: 90;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    z-index: 99;
    position: relative;
    font-size: 7rem;
    font-stretch: ultra-expanded;
}

.hero h1::before {
    content: "EAT. DRINK. PLAY.";
    height: 100%;
    width: 100%;
    position: absolute;
    top: -5px;
    left: -5px;
    color: black;
    z-index: -1;
    -webkit-text-stroke: 1.5px #95C11E;
}

.hero h2 {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 2rem;
}

.hero p {
    font-size: 1.2rem;
    text-align: center;
    width: 40vw;
}

.page {
    height: 100vh;
}

.scroller {
    display: flex;
    white-space: nowrap;
    overflow-x: hidden;
    gap: 50px;
    margin-bottom: 300px;
}

.scroller h2{
    display: inline-block;
    font-family: serif;
    font-size: 7.5rem;
    margin-top: 50px;
    color: transparent;
    -webkit-text-stroke: 2px #96c11eb1;
    animation-name: scroll;
    animation-duration: 80s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.banner {
    opacity: 0.5;
    height: 100vh;
    /* background-color: red; */
    z-index: 999;
    display: flex;
    justify-content: center;
}

.banner h2 {
    font-size: 4rem;
    font-weight: 500;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-200%);
    }
}

::-webkit-scrollbar {
    background-color: #95C11E;
    width: 8px;
}

::-webkit-scrollbar-thumb{
    border-radius: 15px;
    background-color: white;
}